body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.days {
  color: black;
}

.calendar .days {
  border-radius: 10px;
  position: relative;
  /* width: calc(100% / 7); */
  width: 10rem;
  height: 10rem;
  display: inline-flex;
  background-color: #DEFCFC;
  border: 3px solid #A6E3E9;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
}


.days:hover {
  background-color: gray;
}

.tab {
  tab-size: 4;
}